<#@include file="$(SolutionDir)\Reference.ttinclude" #>
using Kanq.ItcastOA.IDAL;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Kanq.ItcastOA.Model;
using System.Linq.Expressions;

namespace Kanq.ItcastOA.DAL
{
<#    foreach(string modelName in modelList){ #>
    public partial class <#=modelName#>Dal :BaseDal<<#=modelName#>>, I<#=modelName#>Dal{}
<#    } #>
}