<#@include file="$(SolutionDir)\Reference.ttinclude" #>
using Kanq.ItcastOA.Model;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Linq.Expressions;

namespace Kanq.ItcastOA.IDAL
{
<#    foreach(string modelName in modelList){ #>
    public partial interface I<#=modelName#>Dal:IBaseDal<<#=modelName#>>{}
<#    } #>
}