<#@include file="$(SolutionDir)\Reference.ttinclude" #>
using Kanq.ItcastOA.Model;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Kanq.ItcastOA.IBLL
{
<#    foreach(string modelName in modelList){ #>
    public partial interface I<#=modelName#>Service:IBaseService<<#=modelName#>>{}
<#    } #>
}