@model Kanq.ItcastOA.Model.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetAction</title>
</head>
<body>
    <div>
        <h3>给用户：@Model.UName 设置权限</h3> 
    </div>
</body>
</html>
